
    body {
      background-color: #252b37;
      margin: 0;
      padding: 0;
    }

    .h1 {
      color: #f7c71f;
      font-size: 50px;
      text-align: center;
      font-family: 'Audiowide', sans-serif;
      margin-top: 30px;
    }

    .move-icon {
      height: 100px;
    }

    .move-button {
      background-color: #252b37;
      border: none;
      width: 120px;
      height: 120px;
      cursor: pointer;
    }

    .button-row {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 40px;
    }

    .js-result {
      font-weight: bold;
      font-size: 50px;
      font-family: 'Audiowide', sans-serif;
      color: #f7c71f;
      text-align: center;
      margin-top: 40px;
    }

    .js-score {
      color: #f7c71f;
      font-family: 'Audiowide', sans-serif;
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
    }

    .moves-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      margin-top: 30px;
    }

    .player, .computer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .result-head, .result-header {
      margin-top: 10px;
      font-size: 20px;
      font-family: 'Audiowide', sans-serif;
      color: #f7c71f;
    }

    .reset-score-button {
      background-color: #f7c71f;
      color: #252b37;
      font-family: 'Audiowide', sans-serif;
      height: 50px;
      width: 200px;
      border-radius: 15px;
      font-size: 20px;
      display: block;
      margin: 40px auto;
      cursor: pointer;
    }
  